.App {
  text-align: center;
  background-color: #376f70;
  height: 100%;
}

.header-container {
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
  height: 400px; /* Initial height of the image container */
  transition: height 0.3s ease; /* Smooth transition for the height change */
}

.image-container img {
  display: flex;
  width: 100%;
  object-fit: cover;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  letter-spacing: 12px;
  z-index: 40;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #343541;
  border: none;
  transition: top 0.3s; /* Smooth transition for the navigation bar */
  z-index: 42;
}

.navigation p {
  display: inline;
  padding: 10px 12px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none
}

.navigation a:hover {
  color: #376F70;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  letter-spacing: 2px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;

  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

a {
  text-decoration: none
}
